<div class="container">
    <h1>Twitter Clone</h1>
    <h4>Cable Ready & Stimulus Reflex Demo</h4>

    <%= render "form" %>

<div id= "timeline" >
    <%= render partial: "post", collection: @posts %>
</div>
  

</div>
